<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.happyhouse.mapper.NewsMapper">

    <select id="getRelatedNews" resultType="news">
        -- 부동산 관련 뉴스를 조회
        SELECT id, newsDate, newsTitle, newsLink, newsContent
          FROM news
         WHERE newsDate = curdate()
    </select>

    <select id="getRecipients" resultType="String">
        SELECT email from members where is_subscribed = 1;
    </select>

    <insert id="writeNewsLetter" parameterType="com.ssafy.happyhouse.entity.news.NewsLetter">
        INSERT INTO newsLetter(recipients, title, content)
        VALUES (#{recipients}, #{title}, #{content})
    </insert>

</mapper>