<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.happyhouse.mapper.EnteredRoomMapper">

    <resultMap id="enteredRoom" type="com.ssafy.happyhouse.entity.chat.EnteredRoom">
        <id column="enteredRoom_id" property="enteredRoomId"/>
        <association property="member" resultMap="member">
            <id column="members_id" property="id"/>
            <result column="username" property="username"/>
            <result column="email" property="email"/>
            <result column="password" property="password"/>
            <result column="role" property="role"/>
            <result column="profile" property="profile"/>
            <result column="nickname" property="nickname"/>
            <result column="member_type" property="memberType"/>
        </association>
        <association property="room" resultMap="room">
            <id column="room_id" property="roomId"/>
            <result column="name" property="name"/>
        </association>
    </resultMap>

    <select id="findAll" resultMap="enteredRoom">
        select *
        from SSAFYHOME.ENTEREDROOM
    </select>

    <select id="findByMemberId" parameterType="long" resultMap="enteredRoom">
        select *
        from SSAFYHOME.ENTEREDROOM
        where member_id=#{memberId}
    </select>

    <select id="findByRoomId" parameterType="long" resultMap="enteredRoom">
        select *
        from SSAFYHOME.ENTEREDROOM
        where room_id=#{roomId}
    </select>
</mapper>