<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.happyhouse.mapper.AuctionMapper">

    <select id="getAuctionsByDongCode" resultType="com.ssafy.happyhouse.entity.auction.Auction">
        SELECT court,
               productUsage,
               location,
               appraisalValue,
               minimumSalePrice,
               saleDate,
               status,
               lng,
               lat
          FROM auctions
         WHERE dongCode = #{dongCode}
    </select>
</mapper>