<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.happyhouse.global.batch.mapper.BatchMapper">

    <insert id="insertNews" parameterType="list">
        INSERT INTO news (newsDate, newsTitle, newsLink, newsContent)
        VALUES
        <foreach item="item" index="index" collection="newsList" open="(" separator="),(" close=")">
            CURDATE(), #{item.newsTitle}, #{item.newsLink}, #{item.newsContent}
        </foreach>
    </insert>

    <select id="getNewsLetter" resultType="com.ssafy.happyhouse.entity.news.NewsLetter">
        SELECT id, recipients, title, content, sendDate
          FROM newsletter
         WHERE isSend = 0
    </select>

    <update id="setNewsLetter" parameterType="int">
        UPDATE newsletter SET isSend = 1 WHERE id = #{id}
    </update>

    <insert id="insertAuctionsInfo" parameterType="list" >
        INSERT INTO auctions (court, productUsage, location, appraisalValue, minimumSalePrice, saleDate, status)
        VALUES
        <foreach item="item" index="index" collection="auctionList" open="(" separator="),(" close=")">
            #{item.court}, #{item.productUsage}, #{item.location}, #{item.appraisalValue}, #{item.minimumSalePrice}, #{item.saleDate}, #{item.status}
        </foreach>
    </insert>

    <select id="getAuctionInfo" resultType="com.ssafy.happyhouse.entity.auction.Auction">
        SELECT id, court, productUsage, location, appraisalValue, minimumSalePrice, saleDate, status
          FROM auctions
         WHERE lng IS NULL
    </select>

    <update id="updateAuctionInfo" parameterType="java.util.List">

        <foreach collection="list" item="auction" separator="; ">
            UPDATE
            auctions
            SET
            sido = #{auction.sido}
            , gugun = #{auction.gugun}
            , dong = #{auction.dong}
            , lng = #{auction.lng}
            , lat = #{auction.lat}
            WHERE
            id = #{auction.id}
        </foreach>
    </update>


</mapper>